body {
}

.title {
    background-color: #50C87875;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.turf img {
    max-width: 400px;
    max-height: 400px;
}
 
.turf-content {

}
ul {
    display: flex;
}