body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.title {
    background-color: #50C87875;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 152px;
    margin-bottom: 32px;
}

.title-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 16px;
}

.logo {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.hero, .hero-sub {
    margin-bottom: 16px;
}

.hero {
 font-size: 48px;
 font-weight: 900;
}

.hero-sub, ul {
    font-size: 18px;

}

.turf img {
    width: 500px;
    height: 250px;
}
 
.turf-content {
    width: 500px;
    
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;

}

.button-one {
    border: 2px;
    border-radius: 10px;
    padding: 8px 24px;
}

.image {
    text-align: center;
    margin-bottom: 32px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    padding: 32px;
}


.image-bank{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.square img, .square div {
    width: 150px;
    height: 150px;
}

.quote {
    background-color: #50C87825;
    padding: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 900px;
    font-size: 36px;
    font-style: italic;
}

.quote-sign {
    width: 425px;
    font-weight: 700;
    font-size: 18px;
    align-self: flex-end;
}